/* Default */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 48;
}

/* This is constant variables that can be used throughout the project*/
:root {
  --white: rgb(255, 255, 255);
  --secondary-color-yellow: rgb(201, 163, 40);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --dark-yellow: rgb(141, 108, 0);
  --light-yellow-background: rgb(255, 254, 240);
  --background-shadow-white: rgb(189, 189, 189);

  /* Add variables */
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
  display: 0;
}

body {
  height: 150vh;
  overflow-x: hidden;
}

.hiddenLeft {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.5s;
}

.hiddenRight {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(+100%);
  transition: all 0.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.menu-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  font-family: poppins;
}

.menu-grid li {
  font-size: 2vh;
  font-weight: lighter;
  outline: none;
  color: var(--white);
  display: flex;
}

.menu-grid li span {
  margin-left: 1vh;
  margin-right: 1vh;
}

.menu-grid li a {
  font-size: 2vh;
  font-weight: bolder;
  outline: none;
  color: var(--white);
}

.icon-text:hover {
  cursor: pointer;
  color: var(--secondary-color-yellow);
}

.main-nav-container {
  color: var(--white);
  position: relative;
}

.welcome-thrid-container {
  margin: 5vh;
}

.nav-bar {
  position: fixed;
  width: 100%;
  margin-top: 1vh;
  z-index: 10;
}

.main-welcome-container {
  background-image: url(images/Main\ Picture\ 3\ -\ edited\ 2.jpg);
  height: 100vh;
  background-size: cover;
}
.main-welcome-secondary-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.welcome-header,
.welcome-slogan {
  font-family: "Poppins", sans-serif;
  color: var(--white);
  width: 70vh;
}

.welcome-header {
  font-size: 8vh;
  font-weight: lighter;
}

.welcome-header A {
  font-size: 12vh;
  font-weight: bold;
}

.welcome-slogan {
  font-size: 2.2vh;
  font-weight: lighter;
}
.welcome-slogan b {
  color: var(--secondary-color-yellow);
}

.get-connected-button {
  width: 70vh;
  height: 6vh;
  border-radius: 10vh;
  font-size: 3vh;
  color: var(--white);
  background-color: var(--secondary-color-yellow);
  margin-top: 2vh;
  margin-bottom: 2vh;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.get-connected-button span {
  font-size: 3.5vh;
  margin: 1vh;
}

.get-connected-button:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 0.5vh solid var(--secondary-color-yellow);
  color: var(--secondary-color-yellow);
}

.picture-shuffle-container {
  background-color: var(--secondary-color-yellow);
  height: 20vh;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/*Information section*/

.info-main-container {
  display: flex;
  justify-content: center;
  min-height: 67vh;
  font-family: poppins;
  background-color: var(--white);
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: rgb(255, 254, 240);
}

.info-text-container {
  width: 50vh;
}

.info-text-container h1 {
  font-size: 5vh;
  margin: 0%;
  padding: 0%;
  font-weight: lighter;
}

.info-text-container h2 {
  color: var(--secondary-color-yellow);
  font-size: 2.7vh;
  margin: 0%;
  font-weight: lighter;
}

.info-text-container hr {
  border: 1px solid var(--secondary-color-yellow);
  margin: 20px 0;
}

.welcome-image {
  background-image: url(images/welcome-text-image.jpeg);
  height: 55vh;
  width: 55vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 10vh;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/*Program section*/
.main-program-container {
  height: 270vh;
  background-color: var(--light-yellow-background);
  overflow-x: hidden;
  overflow-y: hidden;
}

.main-program-banner-container {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  background-color: var(--dark-yellow);
  font-family: poppins;
}

.main-program-banner-container h1 {
  font-size: 6vh;
  font-weight: lighter;
}

.main-program-banner-container h2 {
  font-size: 2vh;
  font-weight: lighter;
}

/*Infinite scroll bar*/

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--dark-yellow);
  border-radius: 0.5rem;
}

.tag-list li span {
  font-size: 6vh;
}

.main-program-center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary-program-center-container {
  width: 185vh;
}

.main-program1-container {
  height: 60vh;
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
}

.goldline {
  border: 1px solid var(--secondary-color-yellow);
  margin: 20px 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1% 1%;
  grid-auto-flow: row;
  grid-template-areas:
    "Program-1 Program-1 Program-1 Program-1-Description"
    "Program-2-Description Program-2 Program-2 Program-2"
    "Program-3 Program-3 Program-3 Program-3-Description";
  height: 230vh;
  margin: 1.5vh;
}

.Program-1 {
  grid-area: Program-1;
  background-image: url(images/program1-image.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 5px 25px rgb(189, 189, 189);
  border-radius: 10px;
}

.Program-1-Description,
.Program-2-Description,
.Program-3-Description {
  background-color: var(--light-yellow-background);
  padding: 2vh;
  border-radius: 10px;
  box-shadow: 5px 5px 25px rgb(189, 189, 189);
}

.Program-1-Description {
  grid-area: Program-1-Description;
}

.Program-2 {
  grid-area: Program-2;
  background-image: url(images/program2-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 5px 25px rgb(189, 189, 189);
  border-radius: 10px;
}

.Program-2-Description {
  grid-area: Program-2-Description;
}

.Program-3 {
  grid-area: Program-3;
  background-image: url(images/program3-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 5px 25px var(--background-shadow-white);
  border-radius: 10px;
}

.Program-3-Description {
  grid-area: Program-3-Description;
}

.program-description-container {
  font-family: poppins;
}

.program-description-container h2 {
  font-weight: lighter;
  font-size: 5vh;
}

.program-description-container p {
  text-align: justify;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

My team*/

.main-team-center-container {
  height: 100vh;
  background-color: var(--light-yellow-background);
  font-family: poppins;
  display: flex;
  justify-content: center;
}

.my-team-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.secondary-team-container {
  padding-top: 10vh;
}

.secondary-team-container .my-team-heading h1 {
  font-weight: lighter;
  font-size: 6vh;
}

.secondary-team-container .my-team-heading h1 a {
  color: var(--secondary-color-yellow);
}

.secondary-team-container hr {
  border: 1px solid var(--secondary-color-yellow);
  margin: 20px 0;
}

.team-gallery-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--secondary-color-yellow);
}

.member-container,
.member-container1 {
  height: 28vh;
  width: 28vh;
  background-color: var(--dark-yellow);
  border-radius: 10px;
  margin: 1vh;
}

.member-image {
  background-image: url(images/user-image-default.jpg);
  width: 97%;
  height: 97%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.member-container:nth-child(2) {
  transition-delay: 200ms;
}

.member-container:nth-child(3) {
  transition-delay: 300ms;
}

.member-container:nth-child(4) {
  transition-delay: 400ms;
}

.member-container:nth-child(5) {
  transition-delay: 500ms;
}

.member-container:nth-child(6) {
  transition-delay: 600ms;
}

.member-container1:nth-child(6) {
  transition-delay: 200ms;
}

.member-container1:nth-child(5) {
  transition-delay: 300ms;
}

.member-container1:nth-child(4) {
  transition-delay: 400ms;
}

.member-container1:nth-child(3) {
  transition-delay: 500ms;
}

.member-container1:nth-child(2) {
  transition-delay: 600ms;
}

.member-container1:nth-child(1) {
  transition-delay: 700ms;
}
