/* Default */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 48;
}

/* This is constant variables that can be used throughout the project*/
:root {
  --white: rgb(255, 255, 255);
  --secondary-color-yellow: rgb(201, 163, 40);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
  /* Add variables */
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
  display: 0;
}

body {
  height: 150vh;
}

.hiddenLeft {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.hiddenRight {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(+100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.menu-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  font-family: poppins;
}

.menu-grid li {
  font-size: 2vh;
  font-weight: lighter;
  outline: none;
  color: var(--white);
  display: flex;
}

.menu-grid li span {
  margin-left: 1vh;
  margin-right: 1vh;
}

.menu-grid li a {
  font-size: 2vh;
  font-weight: bolder;
  outline: none;
  color: var(--white);
}

.icon-text:hover {
  cursor: pointer;
  color: var(--secondary-color-yellow);
}

.main-nav-container {
  color: var(--white);
}

.welcome-thrid-container {
  margin: 5vh;
}

.nav-bar {
  position: fixed;
  width: 100%;
  margin-top: 2vh;
  z-index: 10;
}

.main-welcome-container {
  background-image: url(images/Main\ Picture\ 3\ -\ edited\ 2.jpg);
  height: 100vh;
  background-size: cover;
  margin-bottom: 10vh;
}
.main-welcome-secondary-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.welcome-header,
.welcome-slogan {
  font-family: "Poppins", sans-serif;
  color: var(--white);
  width: 70vh;
}

.welcome-header {
  font-size: 8vh;
  font-weight: lighter;
}

.welcome-header A {
  font-size: 12vh;
  font-weight: bold;
}

.welcome-slogan {
  font-size: 2.2vh;
  font-weight: lighter;
}
.welcome-slogan b {
  color: var(--secondary-color-yellow);
}

.get-connected-button {
  width: 70vh;
  height: 6vh;
  border-radius: 10vh;
  font-size: 3vh;
  color: var(--white);
  background-color: var(--secondary-color-yellow);
  margin-top: 2vh;
  margin-bottom: 2vh;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.get-connected-button span {
  font-size: 3.5vh;
  margin: 1vh;
}

.get-connected-button:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 0.5vh solid var(--secondary-color-yellow);
  color: var(--secondary-color-yellow);
}

.picture-shuffle-container {
  background-color: var(--secondary-color-yellow);
  height: 20vh;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/*Information section*/

.info-main-container {
  display: flex;
  justify-content: center;
  min-height: 67vh;
  font-family: poppins;
  background-color: var(--white);
}

.info-text-container {
  width: 50vh;
}

.info-text-container h1 {
  font-size: 5vh;
  margin: 0%;
  padding: 0%;
  font-weight: lighter;
}

.info-text-container h2 {
  color: var(--secondary-color-yellow);
  font-size: 2.7vh;
  margin: 0%;
  font-weight: lighter;
}

.info-text-container hr {
  border: 1px solid var(--secondary-color-yellow);
  margin: 20px 0;
}

.welcome-image {
  background-image: url(images/welcome-text-image.jpeg);
  height: 55vh;
  width: 55vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 10vh;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/*Program section*/
.main-program-container {
  height: 230vh;
}

.main-program-banner-container {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background-color: var(--secondary-color-yellow);
  font-family: poppins;
}

.main-program-banner-container h1 {
  font-size: 6vh;
  font-weight: lighter;
}

.main-program-banner-container h2 {
  font-size: 2vh;
  font-weight: lighter;
}

/*Infinite scroll bar*/

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--secondary-color-yellow);
  border-radius: 0.5rem;
}

.tag-list li span {
  font-size: 6vh;
}

.main-program1-container {
  height: 60vh;
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
}

.program1-image {
  background-image: url(images/program1-image.jpeg);
  height: 60vh;
  width: 120vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.program1-description {
  width: 65vh;
  margin-left: 2vh;
  font-family: poppins;
}

.program1-description h2 {
  color: var(--secondary-color-yellow);
  font-size: 5vh;
  font-weight: lighter;
}

.program1-description hr {
  border: 1px solid var(--secondary-color-yellow);
  margin: 20px 0;
}

.main-program2-container {
  height: 60vh;
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
}

.program2-image {
  background-image: url(images/program2-image.jpg);
  height: 60vh;
  width: 120vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 2vh;
}

.program2-description {
  width: 60vh;
  margin-left: 2vh;
  font-family: poppins;
}

.program2-description h2 {
  color: var(--secondary-color-yellow);
  font-size: 5vh;
  font-weight: lighter;
}

.program2-description hr {
  border: 1px solid var(--secondary-color-yellow);
  margin: 20px 0;
}

.main-program3-container {
  height: 70vh;
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
}

.program3-image {
  background-image: url(images/program3-image.jpg);
  height: 70vh;
  width: 140vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 2vh;
}

.program3-description {
  width: 60vh;
  margin-left: 2vh;
  font-family: poppins;
}

.program3-description h2 {
  color: var(--secondary-color-yellow);
  font-size: 5vh;
  font-weight: lighter;
}

.program3-description hr {
  border: 1px solid var(--secondary-color-yellow);
  margin: 20px 0;
}
